rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    //rules for users collection 
    match /users/{user_id} {
      //allow read and create if there is a user authenticated
      allow read, create: if request.auth != null;
      //allow update if the id of the authenticated user is the same as the document's id
      allow update: if request.auth.uid == user_id;
    }

    //rules for projects collection
    match /projects/{project_id} {
      //allow read, create and update (comments) if there is a user authenticated
      allow read, create, update: if request.auth != null;
      //only the user who created the project can delete it
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
  }
}